@import "vars";

html {
    font-size: 62.5%;
}


body {
    background-color: #181818;
    font-family:
        -apple-system, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, "Noto Sans",
        "Liberation Sans", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    font-size: 1.4rem;
    color: $white;
}