.add-post {
    padding: 1.5rem 2rem;
    margin-bottom: 3rem;

    background-color: $secondary;
    box-shadow: 0 15px 25px rgba($black, .45);
    border-radius: 5px;
}

.add-post__form {
    display: flex;
    align-items: center;
}

.add-post__textarea {
    display: block;
    width: 80%;
    height: 26px;

    border: none;
    background: transparent;
    resize: none;

    font-size: 1.5rem;
    color: $white;
    font-family: inherit;

    &::-moz-placeholder {
        color: #d2d2d2;
    }

    &:-ms-input-placeholder {
        color: #d2d2d2;
    }

    &::placeholder {
        color: #d2d2d2;
    }
}

.add-post__form-actions {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.add-post__file,
.add-post__send {
    display: block;
    width: 4.4rem;
    height: 4.4rem;

    border: none;
    border-radius: 50%;

    transition: background-color $transition linear;
}

.add-post__file {
    background: #ebebeb url(../img/add-photo.svg) center no-repeat;
    cursor: pointer;

    input {
        display: none;
    }

    &:hover {
        background-color: darken(#ebebeb, 10%);
    }
}

.add-post__send {
    margin-left: 1rem;
    background-color: $blue;

    &:hover {
        background-color: darken($blue, 10%);
    }
}